<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Event</title>
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/create.css" />
    <link rel="stylesheet" href="../static/css/dropdown.css" />
  </head>
  <body>
    <div class="header">
      <h2>Create Event</h2>
    </div>

    <div class="container">
      <div class="event-container">
        <div class="image-container">
          <img id="img-display" class="no-image" alt="" />
          <div class="file-input">
            <input
              type="file"
              id="file"
              class="file"
              accept="image/png, image/jpeg"
              tabindex="-1"
            />
            <label for="file" tabindex="-1">Upload Image</label>
          </div>
        </div>
        <div class="form-container">
          <textarea
            class="event-name"
            id="title"
            placeholder="Event Name"
          ></textarea>

          <div class="organizer">
            <label for="org">By</label>
            <textarea
              class="event-org"
              id="org"
              placeholder="Org Name"
            ></textarea>
          </div>

          <%
          // current datetime string in America/Chicago timezone
          let indy_datetime_str = new Date().toLocaleString("en-US", { timeZone: "America/Indianapolis" });
          // create new Date object
          let date_indy = new Date(indy_datetime_str);
          // year as (YYYY) format
          let year = date_indy.getFullYear();
          // month as (MM) format
          let month = ("0" + (date_indy.getMonth() + 1)).slice(-2);
          // date as (DD) format
          let date = ("0" + date_indy.getDate()).slice(-2);
          // date time in YYYY-MM-DD format
          let min_date = year + "-" + month + "-" + date;
          %>

          <div class="date">
            <label for="date">Date</label>
            <input
              type="date"
              class="form-date"
              id="date"
              onfocus="this.showPicker()"
              min="<%= min_date %>"
            />
          </div>

          <% function generateTimeList() { const times = []; let id = 0; for
          (let hour = 0; hour < 24; hour++) { for (let minute = 0; minute < 60;
          minute += 30) { let displayHr = hour === 0 ? 12 : hour > 12 ? hour -
          12 : hour; let displayMin = minute.toString().padStart(2, '0'); let
          tod = hour < 12 ? 'AM' : 'PM'; times.push({ id: id++, val:
          `${displayHr}:${displayMin} ${tod}` }); } } return times; } let
          start_dd = { id: 'start-time', placeholder: "Time", options: { 'id':
          'start_time_opts', els: generateTimeList(), }, }; let end_dd = { id:
          'end-time', placeholder: "Time", options: { 'id': 'end_time_opts',
          els: generateTimeList(), }, }; %>

          <div class="time">
            <label for="<%= start_dd.id %>">Start</label>
            <%- include('partials/dropdown.ejs', {dropdown: start_dd}) %>
          </div>

          <div class="time">
            <label for="<%= end_dd.id %>">End</label>
            <%- include('partials/dropdown.ejs', {dropdown: end_dd}) %>
          </div>
        </div>
      </div>
    </div>

    <%- include('partials/footer.ejs') %>

    <script src="../static/js/create.js" charset="utf-8"></script>
    <script src="../static/js/dropdown.js" charset="utf-8"></script>
  </body>
</html>
