<div id="card-<%= id %>" class="card">
  <div class="card-img">
    <img
      src="./static/<%= event.img %>"
      alt="..."
    />
  </div>

  <div class="card-body">
    <p class="card-time"><%= event.time %></p>
    <h2 class="card-title"><%= event.title %></h2>
    <p class="card-loc"><%= event.loc %></p>
    <div class="card-tags">
      <% for(let i = 0; i < event.tags.length; i++) { %>
      <p><%= event.tags[i] %></p>
      <% } %>
    </div>
  </div>
</div>
